

<div class= "container">
  <div class="row">
    <div class="col-xs-9">

      <div class="personal-info">
        <h1><%= @user.name %></h1>
        <p><%= @user.email %></p>
      </div>

      <div class ="projects-supported">
        <% @user.projects.each do |project| %>
          <p>
            <%= project.title%> <br>
            <%= project.description %>
          </p>
        <%end %>
      </div>
    </div>

    <div class ="col-xs-3">
      <h2> You have made <%= @user.pledges.count %> pledges. Good Job! </h2>
    </div>
  </div>
</div>
