
<div class = "row">
<div class ="col-xs-12">
<h1 class ="main-title">CrowdFunder</h1>
</div>
</div>

<div class = "col-xs-9">
<% @projects.each do |project| %>

<p>
<a href="projects/<%=project.id%>">
  <%=project.title %>, <%= project.goal%>, <%= project.start_date %>
</a>

</p>

<p>
  <%= image_tag project.avatar.card %>
</p>
</div>
<% end %>
