<h1> <%= @project.title %> </h1>

  <p> $ <%= @project.goal%> </p>
  <p> <%= @project.start_date %> </p>
  <p><%= @project.description %></p>


<h2>Testing Pledge Count</h2>

<div id="pledge-count">
  <%= @project.pledge_count %>
</div>

<h2> Total pledged amount </h2>

<div id = "pledge-amount ">
  <%= @project.total_pledges %>
</div>


<h2> Total days remaining </h2>

<div id ="Days remaining!">
<%= @project.days_left %>
</div>



<h2>Choose your reward for <%= @project.title %></h2>

   <% @project.rewards.each do |reward| %>
     <p>
       <%= reward.amount %>
     <br>
       <%= reward.description %>
     </p>

      <% if current_user %>


      <%= form_for [@project, @pledge] do |f| %>

        <%= f.hidden_field :amount, :value => reward.amount %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :reward_id, :value => reward.id %>

        <%= f.submit %>

      <% end %>

    <% end %>

  <% end %>
